@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans:ital@1&family=Noto+Serif&display=swap');

.header-img{
    width:100%;
    height:70px;
    background: url(https://www.solidbackgrounds.com/images/2560x1440/2560x1440-camouflage-green-solid-color-background.jpg);
    background-size: cover;
} 

main{
    padding: 20px;
    clear: both;
    float: left;
    width: 25%;
    height: 590px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    word-spacing: 2px;
    border-radius: 25px;
    margin-top: 50px;
    ;
}

header{
    background-color: #8a9086;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
}

#me{
    font-size: 28px;
    margin-top: 40px;
    font-family: cursive;
    font-weight:bold ;
    margin-left: 100px;
}

section{
    font-family:Arial, Helvetica, sans-serif ;
    color: var(--sick);
}

h1{ 
    font-size: 48px;
    color: var(--title);
    text-align: center;

}
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    list-style: none;
}


nav a {
    color: var(--sick);
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}

#contact{
   position: relative;;
}

#woo{
    color: var(--title);
    font-size: 26px;
    text-align: center;
}

.contact{
    padding: 10px;
    height: 220px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 25px;
}

#info{
    color: var(--title);
    font-size: 26px;
    text-align: center;
}

footer{
    padding: 30px;
    margin-top: 50px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 10px;
    color: rgb(119, 114, 114)
}

#bottom{
    margin-top: 150px;
}

#made-by{
    font-size: 12px;
}

 .links{
    text-align: center;
    color: #1a2a0a;
 }

 .nav-item{
    font-size:20px;
    margin-left: 45px;
 }

 .nav-link:hover{
    color: white;
    font-size: 22px;
 }

 #navbar{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Serif', serif;
 }

 #header{
    margin-left: 28px;
 }
#header:hover{
    color: black;
    font-size: 41px;
}

.col{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Serif', serif;
}

#title{
    font-size: 36px;
    margin-left: 62px;
    margin-top: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#firstbox{
    font-family: 'Courier New', Courier, monospace;
    line-height: 48px;
    margin-left: 100px;
    margin-top: 40px;
    font-size: 20px;
    
}

#aboutme{
    font-family: 'Courier New', Courier, monospace;
    line-height: 48px;
    font-size: 17px;
    background-color: rgba(84, 84, 84, 0.241);
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 15px;
    margin-top: 80px;
    padding: 22px;
}


#centertitle{
    text-align: center;
    font-size: 36px;
    margin: 20px;
}

.my-resume{
    text-decoration: none;
    color: black;
}
.my-resume:hover{
    color: rgb(154, 147, 147);
    font-size: 35px;
}

.proficient{
margin-left: 130px;
font-family: 'Courier New', Courier, monospace;
font-size: 22px;
}

.style-resume{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 60px;
    
}

.contact-style{
    margin-left: 60px;
    font-size: 38px;
    font-family: 'Courier New', Courier, monospace;
}

.contactTitle {
    font-size: 24px;
}

.userInput {
    padding: 5px 300px 5px 5px;
    margin: 10px 0px 10px 0px;
}

.messageInput {
    padding: 5px 400px 130px 5px;
    margin: 10px 0px 10px 0px;
}

.submitButton {
    color: white;
    background-color: grey;
    padding: 8px 35px 8px 35px;
    border-radius: 5px;
}

.submitButton:hover {
    background-color: rgb(149, 95, 95);
    padding: 9px 36px 9px 36px;
    border-radius: 5px;
    cursor: pointer;
}

.myWork {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.allCards {
    text-align: center;
    padding: 40px 20px 20px 20px;
    color: black;
}


.myWork a {
    color: transparent;
    text-decoration: none;
}

.myWork a:hover {
    color: white;
}

.allCards{
    color: transparent;
  
}

.allCards:hover {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}

.myWork a:visited {
    color: white;
}

.card1 {
    height: 380px;
    width: 380px;
    border: 3px solid grey;
    margin-bottom: 30px;
    background-image: url("card-images/portfolio.png");
    background-size: cover;
    margin-left: 100px;
    margin-top: 50px;
}

.card1:hover {
    height: 300px;
    width: 300px;
    border: 3px solid rgb(251, 250, 250);
    margin-bottom: 30px;
    background-image: url("card-images/light-grey.jpeg");
    background-size: cover;
}

.card2 {
    height: 380px;
    width: 380px;
    border: 3px solid grey;
    margin-bottom: 30px;
    background-image: url("card-images/passwordgen.png");
    background-size: cover;
    margin-top: 50px;
}

.card2:hover {
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("card-images/light-grey.jpeg");
    background-size: cover;
}

.card3 {
    height: 380px;
    width: 380px;
    border: 3px solid grey;
    margin-bottom: 30px;
    background-image: url("card-images/scheduler.png");
    background-size: cover;
    margin-right: 100px;
    margin-top: 50px;
}

.card3:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("card-images/light-grey.jpeg");
    background-size: cover;
    
}

.github {
    background-image: url("card-images/github-fav.png");
}

.logos img {
    width: 45px;
    height: 45px;
    align-items: center;
  }
  
  .resume-ss{
    float: right;
    margin-right: 10px;
    height: 600px;
    width: 500px;
    margin-right: 100px;
    border: 2px solid black;
    
  }

.resume-ss:hover{
    height: 620px;
    width: 520px;
}
.grad-pic{
    float: right;
    margin-right: 5px;
    height: 322px;
    width: 326px;
    margin-right: 100px;
    border-radius: 50%;
}

#github-logo{
    height: 44px;
    width: 44px;
}
#github-logo:hover {
    height: 50px;
    width: 50px;
}

#expand-card:hover{
    height: 390px;
    width: 390px;
}

.card4{
    height: 380px;
    width: 380px;
    border: 3px solid grey;
    margin-bottom: 30px;
    background-image: url("card-images/weather.png");
    background-size: cover;
    margin-left: 100px;
    margin-top: 50px;
}
.card4:hover {
    height: 300px;
    width: 300px;
    border: 3px solid rgb(251, 250, 250);
    margin-bottom: 30px;
    background-image: url("card-images/light-grey.jpeg");
    background-size: cover;
}
.card5 {
    height: 380px;
    width: 380px;
    border: 3px solid grey;
    margin-bottom: 30px;
    background-image: url("card-images/weather-cats.png");
    background-size: cover;
    margin-top: 50px;
}

.card5:hover {
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("card-images/light-grey.jpeg");
    background-size: cover;
}

.card6 {
    height: 380px;
    width: 380px;
    border: 3px solid grey;
    margin-bottom: 30px;
    background-image: url("card-images/teamgen.png");
    background-size: cover;
    margin-right: 100px;
    margin-top: 50px;
}

.card6:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("card-images/light-grey.jpeg");
    background-size: cover;
    
}

.card7{
    height: 380px;
    width: 380px;
    border: 3px solid grey;
    margin-bottom: 30px;
    background-image: url("card-images/notetaker.png");
    background-size: cover;
    margin-left: 100px;
    margin-top: 50px;
}
.card7:hover {
    height: 300px;
    width: 300px;
    border: 3px solid rgb(251, 250, 250);
    margin-bottom: 30px;
    background-image: url("card-images/light-grey.jpeg");
    background-size: cover;
}

.card8 {
    height: 380px;
    width: 380px;
    border: 3px solid grey;
    margin-bottom: 30px;
    background-image: url("card-images/infinite-disk.png");
    background-size: cover;
    margin-top: 50px;
}

.card8:hover {
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("card-images/light-grey.jpeg");
    background-size: cover;
}

.card9 {
    height: 380px;
    width: 380px;
    border: 3px solid grey;
    margin-bottom: 30px;
    background-image: url("card-images/dinediary.png");
    background-size: cover;
    margin-right: 100px;
    margin-top: 50px;
}

.card9:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("card-images/light-grey.jpeg");
    background-size: cover;
    
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  
  .contact h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .contact-style {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  textarea {
    width: 400px;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  
  #submitbtn {
    margin-top: 2rem;
  }
  button{
    background-color: #005d80;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #005d80;
  }
  
  #styleContact{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
  }

  form{
    font-family: 'Courier New', Courier, monospace;
  }

  #github{
    float: left;
    font-size: 20px;
    margin-left: 80px;
    font-family: 'Courier New', Courier, monospace;
  }

  #linkedin{
    float: right;
    font-size: 20px;
    margin-right: 80px;
    font-family: 'Courier New', Courier, monospace;
  }

  #style-logo{
    height: 160px;
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #email-style{
    font-size: 20px;
  }

  #submitC{
    color: white;
  }